<div class="dashboard-con settings">
     <div class="top-container">
        <div class="col-md-4 col-xs-4 top-links">
            <div class="top-links-container ng-scope">
                <ul class="open-nav ng-scope">
                    <li><a href="" class="ng-binding">Patient</a></li>
                </ul>
            </div>     
        </div>
        <div class="col-md-6 col-xs-6 top-links product-search">
            <div class="top-links-container ng-scope">
                <input type="text" class="form-control" ng-model="FilterProducts" placeholder="{{'S_exp_search_placeholder' | translate}}"/>
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>     
        </div>
        <div class="col-md-2 col-xs-2 top-btn cart-btn">
            <span>Add Patient</span><button class="save ng-binding" type="submit" ng-click="new_patient()"><i class="fa fa-users"></i></button>
        </div>
    </div>
        <div class="col-md-12 col-sm-12 form-content" ng-scrollbars>
         <div class="product-con">
         <div ng-include="'templates/patient/patient-edit-form1.html'" ng-show="new_pati"></div>
          </div>
        </div>
</div>
<style>.form-control{width:100% !important;}</style>