<div class="dashboard-con settings">
    
    <div class="top-container">
        <div class="col-md-8 col-xs-6 top-links">
            <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>    
        </div>
        <div class="col-md-4 col-xs-6 top-btn">
            <button class="save" type="submit" form="concession">{{buttonText | translate}}</button>
            <button class="cancel">{{'S_button_cancel' | translate}}</button>
            <button class="cancel" ng-click="conDelete('sm')" ng-hide="deleteText">{{'S_button_delete' | translate}}</button>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 bus-con">
        <div class="col-md-2 side-bar-con">
            <div class="side-bar">
                <div class="side-bar-header">
                    <h5>{{'S_Discount_main_heading' | translate}}</h5>
                    <a class="" ui-sref="settings.discount-types.edit({concession_id:'new'})">
                    	<i class="ic bus-icn conce"></i>
                    	<span>{{'S_tool-tip-addnew' | translate}}</span>
                    </a>
                </div>
                <div class="side-bar-search">
                        <input type="text" class="form-control" placeholder="{{'S_placeholder-Search' | translate}}" ng-model="filterCon" />
                        <button type="submit" disabled="disabled"><i class="fa fa-search"></i></button>
                </div>
                <div class="side-bar-links" ng-scrollbars rebuild-on-resize>
                	<ul>
                        <li  ng-repeat="concession in concessionTypes | filter : {name : filterCon }"><a href="" ui-sref="settings.discount-types.edit({concession_id:concession.id})" ui-sref-active="active">{{concession.name}}</a></li>
                    </ul>
                </div>
            </div>
    </div>
</div>
    <div class=" col-md-10 col-sm-10 form-content info-container" ng-scrollbars rebuild-on-resize>
    	<div ui-view></div>
    </div>

</div>

<!-- Modal -->
<script type="text/ng-template" id="DeleteModal.html">
        <div class="modal-body confirm-body">
			<div class="confirm">
                <p>Are you sure you want to delete this Discount Type? Please confirm you wish to continue.</p>
                <a href="" ng-click="okdelete()">confirm</a>
                <a href="" ng-click="cancel()">cancel</a>
            </div>
        </div>
</script>