<div class="dashboard-con settings">
	<form ng-submit="settingSubmit(account)">
    	<div class="top-container">
            <div class="col-md-8 col-xs-6 top-links">
                <div class="top-links-container" ng-include="'templates/settings/common/top-links.html'"></div>     
            </div>
            <div class="col-md-4 col-xs-6 top-btn import-btn">
                <button class="save" type="submit">{{'S_import_button5' | translate}}</button>
                <button class="save back" type="submit">{{'S_button_back' | translate}}</button>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 form-content data-import-con" ng-scrollbars rebuild-on-resize>
        	<div class="col-md-12">
            	<h2 class="autowid">{{'S_import_heading' | translate}}
                    <i class="ic info info-hover bottom left-side">
                        <span>{{'S_import_heading_info' | translate}}</span>
                    </i>
                </h2>
                <ul>
                	<li>
                    	{{'S_import_list_li1' | translate}}
                    </li>
                    <li>
                    	{{'S_import_list_the' | translate}}
                        <span>"{{'S_import_list_table_heading1' | translate}}"</span>
                        {{'S_import_list_li2' | translate}}
                    </li>
                    <li>
                    	{{'S_import_list_the' | translate}}
                        <span>"{{'S_import_list_table_heading2' | translate}}"</span>
                        {{'S_import_list_li3' | translate}}
                    </li>
                    <li>
                    	{{'S_import_list_li4' | translate}}
                    </li>
                </ul>
                <p class="upload-info match-info">{{'S_import_list_p1' | translate}}<br />{{'S_import_list_p2' | translate}}</p>
                <div class="table-responsive import-data-list">
                	<table class="table">
                    	<thead>
                        	<tr>
                            	<th>{{'S_import_list_table_heading1' | translate}}</th>
                                <th class="import-into">{{'S_import_list_table_heading2' | translate}}</th>
                                <th>{{'S_import_list_table_heading3' | translate}}</th>
                                <th>{{'S_import_list_table_heading3' | translate}}</th>
                                <th>{{'S_import_list_table_heading3' | translate}}</th>
                                <th>{{'S_import_list_table_heading3' | translate}}</th>
                                <th>{{'S_import_list_table_heading3' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<tr>
                            	<td>Date</td>
                                <td>
                                	<select class="form-control">
                                        <option>Do not import</option>
                                        <option>Dummy</option>
                                        <option>Dummy</option>
                                    </select>
                                </td>
                                <td>1st July 2015 </td>
                                <td>2nd July 2015</td> 
                                <td>7th July 2015 </td>
                                <td>6th July 2015</td>
                                <td>8th July 2015</td>
                            </tr>
                            <tr>
                            	<td>Date</td>
                                <td>
                                	<select class="form-control">
                                        <option>Dr.</option>
                                        <option>Dummy</option>
                                        <option>Dummy</option>
                                    </select>
                                </td>
                                <td>1st July 2015 </td>
                                <td>2nd July 2015</td> 
                                <td>7th July 2015 </td>
                                <td>6th July 2015</td>
                                <td>8th July 2015</td>
                            </tr>
                            <tr>
                            	<td>Date</td>
                                <td>
                                	<select class="form-control">
                                        <option>Dr.</option>
                                        <option>Dummy</option>
                                        <option>Dummy</option>
                                    </select>
                                </td>
                                <td>1st July 2015 </td>
                                <td>2nd July 2015</td> 
                                <td>7th July 2015 </td>
                                <td>6th July 2015</td>
                                <td>8th July 2015</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>