<div class="dashboard-con no-animate" ng-show="isLoggedIn" >
    <div class="col-md-8 col-xs-7 inner-con">
    	<div class="inner-search">
           <h2>Appointments</h2>
           <form>
           		<input type="text" class="form-control" placeholder="Search" />
                <button type="submit"><i class="fa fa-search"></i></button>
           </form>
       </div>
<tabset>
    <tab heading="Upcoming">
    <h6>9.00 AM</h6>
    <div class="main-tabing">
      <div class="col-md-6 col-sm-12">
          <div class="app-con">
            <h5>Susan Perk <span>with Dr. Alex</span> </h5>
             <div class="left-con">
             	<i class="cu watch"></i><span>9.00 am to 9.45 am</span>
             </div>
             <div class="right-con">
             	<a href="#"><i class="cu note"></i><span>Notes</span></a>
             </div>
             <div class="left-con">
             	<i class="cu custom-color orange"></i><span>Appointment Type</span>
             </div>
             <div class="right-con">
             	<a href="#"><i class="cu detail"></i><span>Details</span></a>
             </div>          
          </div>
      </div>
      <div class="col-md-6 col-sm-12">
          <div class="app-con">
            <h5>Susan Perk <span>with Dr. Alex</span> </h5>
             <div class="left-con">
             	<i class="cu watch"></i><span>9.00 am to 9.45 am</span>
             </div>
             <div class="right-con">
             	<a href="#"><i class="cu note"></i><span>Notes</span></a>
             </div>
             <div class="left-con">
             	<i class="cu custom-color green"></i><span>Appointment Type</span>
             </div>
             <div class="right-con">
             	<a href="#"><i class="cu detail"></i><span>Details</span></a>
             </div>          
          </div>
      </div>
    </div>
    <h6>9.00 AM</h6>
    <div class="main-tabing">
      <div class="col-md-6 col-sm-12">
          <div class="app-con">
            <h5>Susan Perk <span>with Dr. Alex</span> </h5>
             <div class="left-con">
             	<i class="cu watch"></i><span>9.00 am to 9.45 am</span>
             </div>
             <div class="right-con">
             	<a href="#"><i class="cu note"></i><span>Notes</span></a>
             </div>
             <div class="left-con">
             	<i class="cu custom-color green"></i><span>Appointment Type</span>
             </div>
             <div class="right-con">
             	<a href="#"><i class="cu detail"></i><span>Details</span></a>
             </div>          
          </div>
      </div>
      <div class="col-md-6 col-sm-12">
          <div class="app-con">
            <h5>Susan Perk <span>with Dr. Alex</span> </h5>
             <div class="left-con">
             	<i class="cu watch"></i><span>9.00 am to 9.45 am</span>
             </div>
             <div class="right-con">
             	<a href="#"><i class="cu note"></i><span>Notes</span></a>
             </div>
             <div class="left-con">
             	<i class="cu custom-color orange"></i><span>Appointment Type</span>
             </div>
             <div class="right-con">
             	<a href="#"><i class="cu detail"></i><span>Details</span></a>
             </div>          
          </div>
      </div>
      <div class="col-md-6 col-sm-12">
          <div class="app-con">
            <h5>Susan Perk <span>with Dr. Alex</span> </h5>
             <div class="left-con">
             	<i class="cu watch"></i><span>9.00 am to 9.45 am</span>
             </div>
             <div class="right-con">
             	<a href="#"><i class="cu note"></i><span>Notes</span></a>
             </div>
             <div class="left-con">
             	<i class="cu custom-color orange"></i><span>Appointment Type</span>
             </div>
             <div class="right-con">
             	<a href="#"><i class="cu detail"></i><span>Details</span></a>
             </div>         
          </div>
      </div>
      <div class="col-md-6 col-sm-12">
          <div class="app-con">
            <h5>Susan Perk <span>with Dr. Alex</span> </h5>
             <div class="left-con">
             	<i class="cu watch"></i><span>9.00 am to 9.45 am</span>
             </div>
             <div class="right-con">
             	<a href="#"><i class="cu note"></i><span>Notes</span></a>
             </div>
             <div class="left-con">
             	<i class="cu custom-color purple"></i><span>Appointment Type</span>
             </div>
             <div class="right-con">
             	<a href="#"><i class="cu detail"></i><span>Details</span></a>
             </div>          
          </div>
      </div>
    </div>
    <h6>9.00 AM</h6>
    <div class="main-tabing">
      <div class="col-md-6 col-sm-12">
          <div class="app-con">
            <h5>Susan Perk <span>with Dr. Alex</span> </h5>
             <div class="left-con">
             	<i class="cu watch"></i><span>9.00 am to 9.45 am</span>
             </div>
             <div class="right-con">
             	<a href="#"><i class="cu note"></i><span>Notes</span></a>
             </div>
             <div class="left-con">
             	<i class="cu custom-color green"></i><span>Appointment Type</span>
             </div>
             <div class="right-con">
             	<a href="#"><i class="cu detail"></i><span>Details</span></a>
             </div>          
          </div>
      </div>
      <div class="col-md-6 col-sm-12">
          <div class="app-con">
            <h5>Susan Perk <span>with Dr. Alex</span> </h5>
             <div class="left-con">
             	<i class="cu watch"></i><span>9.00 am to 9.45 am</span>
             </div>
             <div class="right-con">
             	<a href="#"><i class="cu note"></i><span>Notes</span></a>
             </div>
             <div class="left-con">
             	<i class="cu custom-color orange"></i><span>Appointment Type</span>
             </div>
             <div class="right-con">
             	<a href="#"><i class="cu detail"></i><span>Details</span></a>
             </div>          
          </div>
      </div>
      <div class="col-md-6 col-sm-12">
          <div class="app-con">
            <h5>Susan Perk <span>with Dr. Alex</span> </h5>
             <div class="left-con">
             	<i class="cu watch"></i><span>9.00 am to 9.45 am</span>
             </div>
             <div class="right-con">
             	<a href="#"><i class="cu note"></i><span>Notes</span></a>
             </div>
             <div class="left-con">
             	<i class="cu custom-color green"></i><span>Appointment Type</span>
             </div>
             <div class="right-con">
             	<a href="#"><i class="cu detail"></i><span>Details</span></a>
             </div>         
          </div>
      </div>
      <div class="col-md-6 col-sm-12">
          <div class="app-con">
            <h5>Susan Perk <span>with Dr. Alex</span> </h5>
             <div class="left-con">
             	<i class="cu watch"></i><span>9.00 am to 9.45 am</span>
             </div>
             <div class="right-con">
             	<a href="#"><i class="cu note"></i><span>Notes</span></a>
             </div>
             <div class="left-con">
             	<i class="cu custom-color purple"></i><span>Appointment Type</span>
             </div>
             <div class="right-con">
             	<a href="#"><i class="cu detail"></i><span>Details</span></a>
             </div>          
          </div>
      </div>
    </div>
    </tab>
    <tab heading="Past">
      <h6>9.00 AM</h6>
        <div class="main-tabing">
          <div class="col-md-6 col-sm-12">
              <div class="app-con">
                <h5>Susan Perk <span>with Dr. Alex</span> </h5>
                 <div class="left-con">
                    <i class="cu watch"></i><span>9.00 am to 9.45 am</span>
                 </div>
                 <div class="right-con">
                    <a href="#"><i class="cu note"></i><span>Notes</span></a>
                 </div>
                 <div class="left-con">
                    <i class="cu custom-color green"></i><span>Appointment Type</span>
                 </div>
                 <div class="right-con">
                    <a href="#"><i class="cu detail"></i><span>Details</span></a>
                 </div>          
              </div>
          </div>
          <div class="col-md-6 col-sm-12">
              <div class="app-con">
                <h5>Susan Perk <span>with Dr. Alex</span> </h5>
                 <div class="left-con">
                    <i class="cu watch"></i><span>9.00 am to 9.45 am</span>
                 </div>
                 <div class="right-con">
                    <a href="#"><i class="cu note"></i><span>Notes</span></a>
                 </div>
                 <div class="left-con">
                    <i class="cu custom-color orange"></i><span>Appointment Type</span>
                 </div>
                 <div class="right-con">
                    <a href="#"><i class="cu detail"></i><span>Details</span></a>
                 </div>          
              </div>
          </div>
          <div class="col-md-6 col-sm-12">
              <div class="app-con">
                <h5>Susan Perk <span>with Dr. Alex</span> </h5>
                 <div class="left-con">
                    <i class="cu watch"></i><span>9.00 am to 9.45 am</span>
                 </div>
                 <div class="right-con">
                    <a href="#"><i class="cu note"></i><span>Notes</span></a>
                 </div>
                 <div class="left-con">
                    <i class="cu custom-color orange"></i><span>Appointment Type</span>
                 </div>
                 <div class="right-con">
                    <a href="#"><i class="cu detail"></i><span>Details</span></a>
                 </div>         
              </div>
          </div>
          <div class="col-md-6 col-sm-12">
              <div class="app-con">
                <h5>Susan Perk <span>with Dr. Alex</span> </h5>
                 <div class="left-con">
                    <i class="cu watch"></i><span>9.00 am to 9.45 am</span>
                 </div>
                 <div class="right-con">
                    <a href="#"><i class="cu note"></i><span>Notes</span></a>
                 </div>
                 <div class="left-con">
                    <i class="cu custom-color purple"></i><span>Appointment Type</span>
                 </div>
                 <div class="right-con">
                    <a href="#"><i class="cu detail"></i><span>Details</span></a>
                 </div>          
              </div>
          </div>
        </div>
    </tab>
  </tabset>
 </div>
 	<div class="col-md-4 col-xs-5 message-con">
    	<h2>
        	Message Board
            <a href="#">New Post</a>
            <span></span>
        </h2>
        <div class="recent-message-cnt" ng-scrollbar rebuild-on-resize>
        <ul class="recent-message" >
        	<li>
            	<h3>Welcome to ProjectZULU!</h3>
                <p class="action"><a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-trash"></i></a></p>
                <p>Thank you for choosing Zulu.<br /> 
				If you need any assistance, we aren't far away. You'll find "help" under 
                your name in the navigation, or you can always email us at support@Zulu.com 
                anytime. <br />Enjoy.</p>
                <h4>/  Posted by Project ZULU</h4>
                <h4 class="date"><i class="fa fa-calendar"></i> 2<sup>nd</sup> Aug’15</h4>
                <p class="posted_by">Proin gravida nibh vel velit auctor aliquet. Aene an sollicitudin, 
                lorem quis bibendum auctor, nisi elit consequat nec sagittis sem nibh id elit. Duis sed 
                odio sit amet nibh vulputate.
                <span>Posted by Tamy George
                <a href="#"><i class="fa fa-trash"></i></a>
                </span>
                
                </p>
            </li>
            <li>
            	<h3>Welcome to ProjectZULU!</h3>
                <p class="action"><a href="#"><i class="fa fa-edit"></i></a><a href="#"><i class="fa fa-trash"></i></a></p>
                <p>Thank you for choosing Zulu.<br /> 
				If you need any assistance, we aren't far away. You'll find "help" under 
                your name in the navigation, or you can always email us at support@Zulu.com 
                anytime. <br />Enjoy.</p>
                <h4>/  Posted by Project ZULU</h4>
                <h4 class="date"><i class="fa fa-calendar"></i> 2<sup>nd</sup> Aug’15</h4>
                <p class="posted_by">Proin gravida nibh vel velit auctor aliquet. Aene an sollicitudin, 
                lorem quis bibendum auctor, nisi elit consequat nec sagittis sem nibh id elit. Duis sed 
                odio sit amet nibh vulputate.
                <span>Posted by Tamy George
                <a href="#"><i class="fa fa-trash"></i></a>
                </span>
                
                </p>
            </li>
        </ul>
      </div>
        <div class="textbox-con">
        	<form>
                <textarea ng-model="postmessage" placeholder="Comment..." class="form-control"  enter-Submit="postMessage(postmessage)"></textarea>
                <button type="submit" ></button>
            </form>
        </div>
    </div>
</div>